Config(
    banned: [
        HostEnd("fbcdn.net"),
        HostEnd("livememe.com"),
        HostEnd("lvme.me"),
        HostEnd("magaimg.net"),
        HostEnd("liuliping.cc"),
        AnyScheme("i.imgur.com/JwhvGDV.jpg"),
        AnyScheme("i.imgur.com/4nmJMzR.jpg"),
        AnyScheme("imgur.com/trtbLIL"),
        AnyScheme("i.imgur.com/NibDL0u.gif"),
        AnyScheme("i.imgur.com/gw9loSi.gif"),
        AnyScheme("gifsound.com/?gif=%7B%5Crtf1%5Cansi%5Cansicpg1252%20%7B%5Cfonttbl%5Cf0%5Cfswiss%5Cfcharset0%20Helvetica;%7D%20%7B%5Ccolortbl;%5Cred255%5Cgreen255%5Cblue255;%5Cred0%5Cgreen0%5Cblue0;%5Cred243%5Cgreen243%5Cblue243;%7D%20%5Cdeftab720%20%5Cpard%5Cpardeftab720%5Cpartightenfactor0%20%20%5Cf0%5Cfs26%20%5Ccf2%20%5Ccb3%20%5Cexpnd0%5Cexpndtw0%5Ckerning0%20%5Coutl0%5Cstrokewidth0%20%5Cstrokec2%20[URL=http://yourepe.at/1kE3gZT][IMG]http://cdn.yourepeat.com/media/gif/000/603/391/98e245b290651d9ad6b3e8c34735d060.gif[/IMG][/URL]%7D&v=2-ckIv1tiaU&s=109"),
        AnyScheme("www.worldcollectorsnet.com/wp-content/uploads/2015/02/pezgal.gif"),
        AnyScheme("imgur.com/qB8pXfl"),
        AnyScheme("www.jpl.nasa.gov/visions-of-the-future/tif_150/Earth_150.tif"),
        AnyScheme("i.imgur.com/TSUMR7a.gif"),
        AnyScheme("i.imgur.com/TSUMR7a.gifv"),
        AnyScheme("imgur.com/b6twNgB"),
        AnyScheme("i.imgur.com/b6twNgB.gif"),
        AnyScheme("i.imgur.com/b6twNgB.gifv"),
        AnyScheme("i.redd.it/2ve87nz5teg21.jpg"),
        AnyScheme("i.redd.it/dm5xyxfpl9h21.jpg"),
        AnyScheme("i.redd.it/qv9b353l5xh21.jpg"),
        AnyScheme("i.redd.it/bzg9zhiqk6i21.jpg"),
        AnyScheme("i.redd.it/p5j2m5u8f1j21.jpg"),
        AnyScheme("i.redd.it/rdwk5rg0a2j21.jpg"),
        AnyScheme("i.redd.it/rdwk5rg0a2j21.jpg"),
        AnyScheme("i.redd.it/es10qqrtn3q21.gif"),
        AnyScheme("i.redd.it/5s2d5j4zn3q21.gif"),
        AnyScheme("i.redd.it/vy9hkzout3q21.gif"),
        AnyScheme("i.redd.it/ux8lbxmgu3q21.gif"),
    ],
    custom_limits: {
        "imgur.com": None,
        "i.redd.it": None,
        "v.redd.it": None
    },
    enable_imgur_api: false,
    in_flight_limit: 1,
    max_distance: 3,
    max_results: 500,
    no_blacklist: [
        "imgur.com",
        "gfycat.com",
        "gifsound.com",
        "wikipedia.org",
        "wiktionary.org",
        "wikiquote.org",
        "wikibooks.org",
        "wikisource.org",
        "wikinews.org",
        "wikiversity.org",
        "wikispecies.org",
        "mediawiki.org",
        "wikidata.org",
        "wikivoyage.org",
        "wikimedia.org",
        "redd.it",
        "reddit.com",
    ],
    worker_count: 256,
)
