<style>
 .thumb_check {
     display: none;
 }
 .thumb_img {
     display: block;
     max-height: 15vh;
     margin: auto;
     max-width: 100%;
     object-fit: contain;
 }
 .zoom_img {
     display: none;
 }
 .thumb_check:checked ~ .zoom_img {
     display: block;
     max-height: 90vh;
     max-width: 90vw;
     cursor: zoom-out;
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     object-fit: contain;
 }
 .thumb_target {
     cursor: zoom-in;
 }
 .thumb_check:checked ~ .thumb_target {
     cursor: zoom-out;
 }
 .findings-container {
     width: 100%;
 }
 .findings {
     height: 100%;
     text-align: center;
     width: 100%;
     border-spacing: .5em;
 }
 .findings th {
     border-bottom: .05em solid #fefefe;
     font-weight: normal;
 }
 .title {
     text-align: left;
 }
</style>
{% set matches_length = findings.matches | length %}
{% if matches_length > 0  %}
    <div class="findings-container">
        <table class="findings">
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Distance</th>
                <th scope="col">Score</th>
                <th scope="col">Posted on</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Subreddit</th>
            </tr>
            {% for m in findings.matches %}
            <tr>
                <td>
                    <label class="thumb_label">
                        <input type="checkbox" class="thumb_check" />
                        <div class="thumb_target">
                            <img class="thumb_img" src="{{ m.link }}" />
                        </div>
                        <img class="zoom_img" src="{{ m.link }}" />
                    </label>
                </td>
                <td>{{ m.distance }}</td>
                <td>{{ m.score }}</td>
                <td>{{ m.created_utc }}</td>
                <td class="title"><a href="{{ m.permalink }}">{{ m.title }}</a></td>
                {% if m.author %}
                <td><a href="https://reddit.com/user/{{ m.author }}">{{ m.author }}</a></td>
                {% else %}
                <td class="no-author">No author</td>
                {% endif %}
                <td><a href="https://reddit.com/r/{{ m.subreddit }}">/r/{{ m.subreddit }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
     for (const input of document.getElementsByClassName("thumb_check")) {
         input.addEventListener("change", (event) => {
             for (const other of document.getElementsByClassName("thumb_check")) {
                 if (other != input) {
                     other.checked = false;
                 }
             }
         });
     }
    </script>
{% endif %}
