<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <title>{% block title %}{% endblock %}</title>
        <script>
            function $(sel) {
            return document.querySelector(sel);
            }
        </script>
        <style>
         html {
             background-color: #454545
         }
         body {
             font-family: Open Sans,Arial;
             color: #fefefe;
             font-size: 16px;
             margin: 3vh 5vw;
             line-height: 1.4;
         }
         a {
             color: #08a;
         }
         a:visited {
             color: #941352;
         }
         ul {
             margin: 0;
             padding: 0;
         }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
