<style>
 .thumb_check {
     display: none;
 }
 .thumb_img {
     display: block;
     max-height: 15vh;
     margin: auto;
     max-width: 100%;
     object-fit: contain;
 }
 .zoom_img {
     display: none;
 }
 .thumb_check:checked ~ .zoom_img {
     display: block;
     max-height: 90vh;
     max-width: 90vw;
     cursor: zoom-out;
     position: fixed;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     object-fit: contain;
 }
 .thumb_target {
     cursor: zoom-in;
 }
 .thumb_check:checked ~ .thumb_target {
     cursor: zoom-out;
 }
 .findings-container {
     width: 100%;
 }
 .findings {
     display: grid;
     height: 100%;
     grid-template-columns: repeat(7, auto);
     text-align: center;
     gap: .5em;
 }
 .header {
     border-bottom: .05em solid #fefefe;
 }
 .title {
     text-align: left;
 }
</style>
{# {% if (matches | length) > 0  %} #}
    <div class="findings-container">
        <div class="findings">
            <span class="header">Image</span>
            <span class="header">Distance</span>
            <span class="header">Score</span>
            <span class="header">Posted on</span>
            <span class="header">Title</span>
            <span class="header">Author</span>
            <span class="header">Subreddit</span>
            {% for m in findings.matches %}
                <span>
                    <label class="thumb_label">
                        <input type="checkbox" class="thumb_check" />
                        <div class="thumb_target">
                            <img class="thumb_img" src="{{ m.link }}" />
                        </div>
                        <img class="zoom_img" src="{{ m.link }}" />
                    </label>
                </span>
                <span>{{ m.distance }}</span>
                <span>{{ m.score }}</span>
                <span>{{ m.created_utc }}</span>
                <span class="title"><a href="{{ m.permalink }}">{{ m.title }}</a></span>
                {% if m.author %}
                <span><a href="https://reddit.com/user/{{ m.author }}">{{ m.author }}</a></span>
                {% else %}
                <span class="no-author">No author</span>
                {% endif %}
                <span><a href="https://reddit.com/r/{{ m.subreddit }}">/r/{{ m.subreddit }}</a></span>
            {% endfor %}
        </div>
    </div>
    {#
    {% else %}
    <p>No matches!</p>
    {% endif %} #}
