<style>
 .match {
     display: flex;
     flex-direction: row;
     width: 100%;
 }
 .thumb_check {
     display: none;
 }
 .thumb_img {
     display: block;
     height: 15vh;
     cursor: zoom-in;
 }
 .thumb_check:checked ~ .thumb_img {
     height: 75vh;
     cursor: zoom-out;
 }
 .findings {
     display: flex;
     flex-direction: column;
     height: 100%;
     list-style: none;
 }
</style>
{% if matches.len() > 0 %}
    <ul class="findings">
        {% for m in matches %}
            <li class="match">
                <label class="thumb_label">
                    <input type="checkbox" class="thumb_check" />
                    <img class="thumb_img" src="{{m.link}}" />
                </label>
                <span>[{{m.score}}] <a href="{{m.permalink}}">{{m.title}}</a> posted on {{m.created_utc}} by <a href="https://reddit.com/user/{{m.author}}">{{m.author}}</a> to <a href="https://reddit.com/r/{{m.subreddit}}">/r/{{m.subreddit}}</a></span>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No matches!</p>
{% endif %}
