{% extends "base.html" %}

{% block title %}Search with Tidder!{% endblock %}

{% block content %}
<style>
 .search-header {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 input {
     background-color: #fefefe;
     color: #454545;
     border-radius: 2px;
     border: none;
     margin-right: .5em;
     padding: .15em .25em;
 }
 .search-link {
     min-width: 30vw;
 }
 .search-distance {
     min-width: 5vw;
     max-width: 4em;
 }
 .search-form {
     align-self: stretch;
     display: flex;
     justify-content: center;
 }
</style>

<div class="search-header">
    <h1>Search for an image!</h1>
    <form method="get" class="search-form" search-action="/search">
        <input class="search-link" name="imagelink" required="true" type="url"
               value="{{ form.link }}"/>
        <input class="search-distance" name="distance" type="number"
               min="0" max="64"
               value="{{ form.distance }}"/>
        <input class="search-nsfw" type="radio" name="nsfw" value="only" />
        <input class="search-nsfw" type="radio" name="nsfw" value="allow" />
        <input class="search-nsfw" type="radio" name="nsfw" value="never" />
        <input class="search-button" type="submit" value="Search" />
    </form>
    {% match findings %}
    {% when Ok with (findings) %}
        {% match findings %}
        {% when Some with (findings) %}
            <p>You searched for <a href="{{ form.link }}">{{ form.link }}</a></p>
            {% match findings %}
            {% when Ok with (findings) %}
                <p>Found {{ findings.matches.len() }} match{{ findings.matches.len()|plural_es }}</p>
            {% when Err with (message) %}
                <p>Error: {{message}}</p>
            {% endmatch %}
        {% when None %}
            <p>No search yet...</p>
        {% endmatch %}
    {% when Err with (message) %}
        <p>Error: {{message}}</p>
    {% endmatch %}
</div>
{% match findings %}
{% when Ok with (findings) %}
    {% match (findings) %}
    {% when Some with (findings) %}
        {% match findings %}
        {% when Ok with (findings) %}
            {{ findings|safe }}
        {% else %}
        {% endmatch %}
    {% else %}
    {% endmatch %}
{% else %}
{% endmatch %}
{% endblock %}
