{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}Search with Tidder!{% endblock %}

{% block content %}
    <style>
     .search-header {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     input {
         background-color: #fefefe;
         color: #454545;
         border-radius: 2px;
         border: none;
         padding: .15em .25em;
     }
     .search-input-label {
     }
     .search-input {
         min-width: 30vw;
     }
     #search-distance {
         min-width: 5vw;
         max-width: 4em;
     }
     #search-form {
         align-self: stretch;
         display: flex;
         width: 100%;
         flex-direction: column;
     }
     #search-form label, .search-nsfw-box {
         display: flex;
         align-items: center;
         gap: .3em;
     }
     .search-row {
         display: flex;
         justify-content: center;
         margin: .2em 0;
         gap: .3em;
     }
     .search-send {
         min-width: 30vw;
     }
    </style>
    <div class="search-header">
        <h1>Search for an image!</h1>
        <form method="get" id="search-form" search-action="/search">
            <div class="search-row">
                <label id="search-link" class="search-input-label"><span>Link:</span><input class="search-input-type" name="searchtype" value="link" type="radio" {{ upload | tern(yes="", no="checked ") }}/><input class="search-input" name="imagelink" type="url" value="{{ form.link }}"/></label>
                <label id="search-file" class="search-input-label"><span>File:</span><input class="search-input-type" name="searchtype" value="file" type="radio" {{ upload | tern(yes="checked ", no="") }}/><input class="search-input" name="imagefile" type="file" accept="image/*" /></label>
            </div>
            <div class="search-row">
                <label>
                    <span>Distance:</span>
                    <input id="search-distance" name="distance" type="number"
                           min="0" max="64" placeholder="{{ default_form.distance }}"
                           value="{{ form.distance }}"/>
                </label>
                <div class="search-nsfw-box">
                    <span>NSFW:</span>
                    <label>
                        <span>Only</span>
                        <input class="search-nsfw" type="radio" name="nsfw" value="only" {{ macros::nsfw_checked(input=form.nsfw, match="only") }}/>
                    </label>
                    <label>
                        <span>Allow</span>
                        <input class="search-nsfw" type="radio" name="nsfw" value="allow" {{ macros::nsfw_checked(input=form.nsfw, match="allow") }}/>
                    </label>
                    <label>
                        <span>Never</span>
                        <input class="search-nsfw" type="radio" name="nsfw" value="never" {{ macros::nsfw_checked(input=form.nsfw, match="never") }}/>
                    </label>
                </div>
            </div>
            <div class="search-row">
                <input class="search-send" type="submit" value="Search" />
            </div>
        </form>
        <script>
         const FORM_DEFAULTS = {
             distance: "{{ default_form.distance }}",
             nsfw: "{{ default_form.nsfw }}"
         };

         let distance_input = $("#search-distance");

         function default_distance() {
             if (distance_input.value === "" || distance_input.value === FORM_DEFAULTS.distance) {
                 distance_input.removeAttribute("name");
             } else {
                 distance_input.name = "distance";
             }
         }

         distance_input.oninput = default_distance;

         let nsfw_radios = $$(".search-nsfw");

         function default_nsfw(event) {
             let checked;
             if (event) {
                 checked = event.target;
             } else {
                 checked = $(".search-nsfw:checked");
             }

             if (checked.value === FORM_DEFAULTS.nsfw) {
                 for (let el of nsfw_radios) {
                     el.removeAttribute("name");
                     el.removeAttribute("checked");
                 }
             } else {
                 for (let el of nsfw_radios) {
                     el.name = "nsfw";
                     el.removeAttribute("checked");
                 }
             }

             checked.checked = true;
         }

         for (let el of nsfw_radios) {
             el.oninput = default_nsfw;
         };

         default_distance();
         default_nsfw();

         let form = $("#search-form");

         let link_input = $("#search-link .search-input");
         let file_input = $("#search-file .search-input");

         let link_radio = $("#search-link .search-input-type");
         let file_radio = $("#search-file .search-input-type");

         let setLink = function(event) {
             form.method = "get";
             form.enctype = "application/x-www-form-urlencoded";

             link_radio.checked = true;
             file_radio.removeAttribute("checked");

             link_input.required = true;
             file_input.required = false;

             link_input.name = "imagelink";
             file_input.removeAttribute("name");
         };
         let setFile = function(event) {
             form.method = "post";
             form.enctype = "multipart/form-data";

             link_radio.removeAttribute("checked");
             file_radio.checked = true;

             link_input.required = false;
             file_input.required = true;

             link_input.removeAttribute("name");
             file_input.name = "uploadfile";
         };

         $("#search-link").oninput = setLink;
         link_input.onfocus = setLink;

         $("#search-file").oninput = setFile;
         file_input.onfocus = setFile;

         if (file_radio.checked) {
             setFile();
         } else {
             setLink();
             link_input.focus(true);
         }
        </script>
        {% if error %}
            <p>Error: {{ error }}</p>
        {% elif findings is null %}
            <p>No search yet...</p>
        {% else %}
            {% if upload %}
                <p>You uploaded an image</p>
            {% else %}
                <p>You searched for <a href="{{ form.link }}">{{ form.link }}</a></p>
            {% endif %}
        {% endif %}
    </div>
    {% if findings is not null %}
        {% include "findings.html" %}
    {% endif %}
{% endblock %}
